@font-face {
    font-family: 'Dharma'; /* Choose a name for your font */
    src: url('./dharma/DharmaGothicE_ExBold_R.otf') format('woff'); /* Adjust the path and format accordingly */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Mclaren'; /* Choose a name for your font */
    src: url('./McLaren/McLaren-Regular.ttf') format('woff'); /* Adjust the path and format accordingly */
    font-weight: normal;
    font-style: normal;
  }
   .outsidebody{
    background-image: url("dishabg2.jpeg");
    background-size: cover;
  }
  .body{
   background-image: url("dishabg5.jpg");
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
   border-style: solid;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
   border-width: 5px;
}
.main-panel-items{
    float: right;
    font-size: 20px;
    padding: 5px 0px;
    font-family: 'McLaren';
}
.mp11{color: plum;
margin-right: 30px;}
.mp12{color:violet;
margin-right: 30px;}
.mp13{color:pink;
margin-right: 30px;}
.mp14{color:brown;
margin-right: 30px;}
.mp15{color:darkblue;
 margin-right: 200px;}
.individual-event-card{
    height: 600px;
    width: 40vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10vw;
    border-style: solid;
    border-width: 3px;
    color: black;
    
}

.logo-event{
    height: 30px;
    width: 30px;
    text-align: center;
}
.logo-symbol{
    float:left;
    margin-left: 15px;
    padding: 10px 0px;
}
.individual-event-name{
    font-size: 90px;
    font-family: "Dharma";
}
.individual-event-points{
    padding: 20vh 20px;
}
.main-panel-objects{
    background-color:green;
    text-align: end;
    width: 50vw;
    height: 10vh;
    text-align: right;
    border-style: solid;
    border-width: 4px;
    border-bottom-left-radius: 20px;
}
.main-panel{width: 100vw;}
.padding{
    padding: 20vh 0;
}
.main-panel-links{
    margin-right: 55px;
    color: white;
    float: right;
    padding: 20px;

}
.individual-page-registration-card{
    padding: 20vh 0px;
    margin-left: 100px;

}
.event-description{
    width: 400px;
}
.additional-event-desc{width: 100px;}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .button:hover {opacity: 0.6}
  .icon{
    float: right;
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    margin-bottom: 50px;

  }
  .icon1{margin-right: 20px;}
  .icon2{padding: 0px 10px;}




    .event-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
   }
   
    .shadowedBox {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -30px 30px 0px rgba(0, 0, 0, 0.5);
   }

    .disha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    margin-left: 70px;
   }
   
   .typewriter {
    animation: typing 3s steps(40, end),
                blinking-cursor 0.5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: monospace;
   }
   
   @keyframes typing {
    from { width: 0; }
    to { width: 50%; }
   }
   
   @keyframes blinking-cursor {
    from, to { border-color: transparent; }
     50% { border-color: black; }
   }
   .greenwallpaper{background-image: url("dishabg2.jpeg");}

   .font{
    font-family: "Dharmas";
   }
   .beat{
    margin-left: 30px;
    color: red;
    margin-right: 300px;
    font-family:"Dharma" ;
    animation: wordbeat 1s infinite;
   }
   @keyframes wordbeat{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
   }
   .body{background-color: aqua;}
   .checkbox{
    height: 10px;
    width: 10px;
    background-color: white;
    margin-top: 10px;
   }
   .checkbox2{
    height: 10px;
    width: 10px;
    background-color: white;
    margin-top: 10px;
   }
   .instruct{
    display: none;
    background-color:peachpuff;
    color: #f4511e;
    border-style: solid;
    border-width: 2px;
    width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 30px;
   }
   .instruct2{
    display: none;
    background-color:peachpuff;
    color: #f4511e;
    border-style: solid;
    border-width: 2px;
    width: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 30px;
   }
   .text-instruction{
    color: black;
    padding: 20px;
    font-family:"Monaco";
    font-weight: bold;
   }
   .t1{
    margin-left: 20px;
    margin-top: 0px;
    color: red;
   }
   .linebreak{
    width: 400px;
   }
   
   .individual-page-registration-card2{
    display:none;
   margin-top: 0px;

   }
   .event-description2{
    width:60vw;
}
.linebreak2{
    width: 60vw;
   }
   

.disha2{
    display: flex;
    align-items: center;
    height: 10vh;
    margin-bottom: 100px;
   }













   @media all and (max-width:1300px) and (min-width:1151px) {
    .body{
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    .event-description{
        width: 300px;
    }
    .linebreak{
        width: 300px;
    }
    .additional-event-desc{width: 70px;}

   }


   @media all and (max-width:1150px) and (min-width:981px){
    .body{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .event-description{
        width: 250px;
    }

    .linebreak{
        width: 200px;
    }
    .additional-event-desc{width: 50px;}

   }

   @media all and (max-width:980px) and (min-width:600px){
    .body{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .event-description{
        width: 250px;
    }
    .individual-page-registration-card{
        margin: auto;
        display: none;

    }
    .individual-page-registration-card2{
        display: block;
        margin-left: 100px;
        margin-top: 0px;
    }
    
    .linebreak{
        width: 200px;
    }
    .additional-event-desc{width: 50px;}
    .individual-event-card{
        float:right;
        width: 80vw;
        height: 60vh;
        margin-right: 10vw;
        margin-bottom: 0px;

    }

    .shadowedBox {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: -20px 20px 0px rgba(0, 0, 0, 0.5);
       }


   }

   @media all and (max-width:599px) and (min-width:0px){
    .body{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .event-description2{
        width: 50vw;
    }
    .individual-page-registration-card{
        margin: auto;
        display: none;

    }
    .individual-page-registration-card2{
        display: block;
        margin-left: 100px;
        margin-top: 0px;
    }
    
    .linebreak2{
        width: 50vw;
    }
    .additional-event-desc{width: 50px;}
    .individual-event-card{
        float:right;
        width: 80vw;
        height: 60vh;
        margin-right: 10vw;
        margin-bottom: 0px;

    }
    .shadowedBox {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.5);
       }

   }