@font-face {
  font-family: 'millie'; /* Choose a name for your font */
  src: url('./Fonts/milleniapolis-font/MilleniapolisIkiikocom-ywged.otf') format('woff'); /* Adjust the path and format accordingly */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mclaren'; /* Choose a name for your font */
  src: url('./Fonts/McLaren/McLaren-Regular.ttf') format('woff'); /* Adjust the path and format accordingly */
  font-weight: normal;
  font-style: normal;
}


:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5vw;
  }
  
  .navbar {
    position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden; /* Hide scroll bars */
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  div.page2{
    height: 100vh;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  a.nav-link img{
    PADDING-left: 20px;
  }
  
  *{
    padding: 0;
    margin:0;
    font-family: 'mclaren';
    
}

body{
    width: 95vw;
    overflow-x:hidden ;
}


.page1{
    min-height: 100vh;
    width:95vw;
    background-image: url(./Images/page1.jpeg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page1 section.hero{
    margin-top: 2.5vh;
    min- height:95vh;
    width:90vw;
    background-color: #f1e4b8;
    border-radius: 3vw;
    border: 4px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.hero{
  display: flex;
  flex-direction: column;
align-items: center;  
}


div.title{
  margin-top: 30px;
  display: flex;
  align-items: center;
}
h1.title {
   height: 100%;  color: #FB565D; font-size: 120px; font-family: 'millie'; font-weight: 800; word-wrap: break-word;
  letter-spacing: 20px;


}

label{
    font-family: 'mclaren';
}

div.form{
    display: flex;
    flex-direction: column;
    gap:30px;
    font-size: 30px;
}

div.name{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.img1{
  position: absolute;
  top:25vh;
  left:14vw;
}

.img2{
  position: absolute;
  top:25vh;
  right:12vw;
}

div.newregister{
    display: flex;
    flex-direction: column;
}

select{
  font-size: 25px;
}

.name_b button{
  padding: 10px 30px;
  font-size: 25px;
  border: 2px solid #FB565D;
  background-color: #fff;
  color: #FB565D;
  border-radius: 5px;
  cursor: pointer;
}

input{
  font-size: 25px;
}

div.submit button{
  padding: 10px 30px;
  font-size: 25px;
  border: 2px solid #FB565D;
  background-color: #fff;
  color: #FB565D;
  border-radius: 5px;
  cursor: pointer;
}



  /* Small screens */
  @media only screen and (max-width: 600px) {
    .page1{
      width: 100vw;
    }
    .img1{
      display: none;
    }

    .img2{
      height: 130px;
      width: 80px;
      top:72vh;
    }

    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    a.nav-link img{
      PADDING-left: 0px;
    }

    h1.title {
      height: 100%;  color: #FB565D; font-size: 80px; font-family: 'millie'; font-weight: 800; word-wrap: break-word;
     letter-spacing: 10px;}

    section.hero{
      display: flex;
      flex-direction: column;
    align-items: center;  
    }
    
    
    
    label{
        font-family: 'mclaren';
    }
    
    div.form{
      margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap:30px;
        font-size: 22px;
    }
    
    div.name{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    
    div.newregister{
        display: flex;
        flex-direction: column;
    }

    div.newregister label{
      margin-top: 20px;
    }
    
    select{
      font-size: 20px;
    }
    
    .name_b button{
      padding: 8px 20px;
      font-size: 22px;
      border: 2px solid #FB565D;
      background-color: #fff;
      color: #FB565D;
      border-radius: 5px;
    }
    
    input{
      font-size: 20px;
    }
    
    div.submit button{
      padding: 8px 20px;
      font-size: 20px;
      border: 2px solid #FB565D;
      background-color: #fff;
      color: #FB565D;
      border-radius: 5px;
      margin-bottom:200px;
    }

  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }

  
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }